<!--div table-->
<div class="div-table song-table">
  <div class="div-tr bg-info">
    <div class="div-th text-center"><input class="test" id="checkboxAll" type="checkbox" ng-model="chkAll.value"
                                           ng-click="varTable.functionList.checkAll(chkAll.value, data)"></div>
    <div class="div-th text-center">{{varTable.headLabel[1].col1}}</div>
    <div class="div-th">
      <div class="div-th th-child">{{varTable.headLabel[2].col2}}</div>
      <div class="div-th th-child">{{varTable.headLabel[3].col3}}</div>
    </div>
    <div class="div-th text-center" ng-hide="config.hideActions">{{varTable.headLabel[4].col4}}</div>
  </div>
  <div class="div-tr" ng-repeat="item in data | filter: search" ng-class="{'active': item.selected}"
       ng-click="varTable.functionList.checkItem(item, data, $event,true)">
    <div class="div-td text-center" >
      <input class="test" type="checkbox" ng-model="item.selected"
                                          ng-click="varTable.functionList.checkItem(item, data, $event,false)">
    </div>
    <!--ng-hide="config.hideCheckbox"-->
    <div class="div-td text-center">{{item[varTable.content[0].key]}}</div>
    <div class="div-td">
      <div class="div-td td-child">{{item[varTable.content[1].key]}}</div>
      <div class="div-td td-child">{{item[varTable.content[2].key]}}</div>
    </div>
    <div class="div-td text-center" ng-hide="config.hideActions">
      <button class="btn btn-warning btn-sm btn-responsive" ng-click="varTable.functionList.goSomewhere(item.id)">
        <i class="glyphicon glyphicon-pencil"></i>
        <span class="visible-lg-inline visible-md-inline">Edit</span>
      </button>
      <button class="btn btn-danger btn-sm btn-hide btn-responsive" ng-click="varTable.functionList.getId(item); $event.stopPropagation();" >
        <i class="glyphicon glyphicon-trash"></i>
        <span class="visible-md-inline visible-lg-inline">Delete</span>
      </button>
    </div>
  </div>
</div> <!--end div table-->

