<div id="songView" class="view" ng-controller="SongCtrl">
  <ul class="right-nav breadcrumb">
    <li><a href="#!/songs">Home</a></li>
    <li class="active">Songs</li>
  </ul>
  <div class="content">
    <div class="content-bar">
      <h3>Songs</h3>
      <div class="action-bar">
        <button ng-click="goSomeWhere('/create-song')" class="btn btn-success btn-sm1">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hide-on-small">Add</span>
        </button>
        <button class="btn btn-danger btn-sm1" ng-disabled="disDeleteBtn.value" ng-click="showModalMulti()" disabled="disabled">
          <i class="glyphicon glyphicon-trash"></i>
          <span class="hide-on-small">Delete</span>
        </button>

        <div class="search-field">
          <label for="search-song"><i class="icon1 glyphicon glyphicon-search"></i></label>
          <input class="search" placeholder="Search" ng-model="searchSong" id="search-song">
        </div>

      </div>
    </div>


    <div class="panel panel-default clearfix" >
      <div class="panel-body">
        <!--song table-->
        <div my-table var-table="songCustom" data="dataSong" config="" search="searchSong"></div> <!-- custom directive-->

        <!--modal del-->
        <div my-modal config="modalCustom"></div>

        <!--modal multi del-->
        <div my-modal-multi config="modalMultiCustom"></div>

      </div> <!--end panel body-->
    </div> <!--end panel-->
    <!--end div-table-->
  </div> <!--end content-->
</div> <!--end view-->
