<div class="view" ng-controller="CreateListCtrl">
  <ul class="right-nav breadcrumb">
    <li><a href="#!/songs">Home</a></li>
    <li class="active">Playlists</li>
  </ul>
  <div class="content">
    <div class="content-bar">
      <h3>Create playlist</h3>
    </div>
    <form class="form-horizontal edit-form">
      <div class="panel panel-default">
        <!-- name -->
        <div class="panel-body form-group" ng-class="{'has-error': checkValid}"> <!--ng-class="{&#39;has-error&#39;: checkValid}"-->
          <div class="col-sm-4 col-xs-12 form-label"> <!--ng-class="{'invalid': checkValid}"-->
            <label class="control-label" for="newList">*Name:</label>
          </div>
          <div class="col-sm-8 col-xs-12">
            <input type="text" id="newList" class="form-control" ng-model="newList" ng-change="checkInput(newList)">
            <div class="small" ng-class="{'text-danger': checkValid}">{{msgOut}}&nbsp;</div>
          </div>
        </div>
        <!-- artist -->
        <div class="panel-body form-group">
          <div class="col-sm-4 col-xs-12 form-label">
            <label for="newDesc">Description:</label>
          </div>
          <div class="col-sm-8 col-xs-12">
            <input class="form-control" type="text" id="newDesc" ng-model="newDesc">
          </div>
        </div>
        <!--list of songs-->
        <div class="panel-body">
          <p>List of Songs: <span>{{(dataSong | filter:{selected: true }).length}}</span> songs</p>
          <div>
            <a class="btn btn-info pull-left" ng-click="toggle = !toggle">
              <span ng-show="toggle">Collapse the song list</span>
              <span ng-hide="toggle">Expand the song list</span>
            </a>
            <a class="navbar-form search-field pull-right">
              <div class="input-group">
                <input ng-model="searchSong" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </a>
            <!--<div class="search-field">-->
              <!--<label for="search-song"><i class="glyphicon glyphicon-search"></i></label>-->
              <!--<input class="search" placeholder="Search" ng-model="searchSong" id="search-song">-->
            <!--</div>-->

          </div>
          <!--<a class="search-field pull-right">-->
            <!--<input class="search" placeholder="Search" ng-model="searchSong" id="search-song">-->
            <!--<label for="search-song"><i class="glyphicon glyphicon-search"></i></label>-->
          <!--</a>-->
        </div>
        <!--song table-->
        <div class="panel-body">
          <div my-table var-table="createListCustom" data="dataSong" config="config" search="searchSong" ng-show="toggle"></div>
          <!--<div class="div-table song-table" ng-show="toggle">-->
            <!--<div class="div-tr bg-primary text-uppercase">-->
              <!--<div class="div-th text-center"><input class="test" id="checkboxAll" type="checkbox" ng-model="chkAll.value"-->
                                                     <!--ng-click="checkAll(chkAll.value, dataSong)"></div>-->
              <!--<div class="div-th text-center">ID</div>-->
              <!--<div class="div-th">Name</div>-->
              <!--<div class="div-th">Artist</div>-->
              <!--&lt;!&ndash;<div class="div-th text-center">Actions</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="div-tr" ng-repeat="item in dataSong | filter: searchSong" ng-class="{'active': item.selected}"-->
                 <!--ng-click="checkItem(item, dataSong, $event,true)">-->
              <!--<div class="div-td text-center"><input class="test" type="checkbox" ng-model="item.selected"-->
                                                     <!--ng-click="checkItem(item, dataSong, $event,false)">-->
              <!--</div>-->
              <!--<div class="div-td text-center">{{item.id}}</div>-->
              <!--<div id="song1" class="div-td">{{item.name}}</div>-->
              <!--<div id="name1" class="div-td">{{item.artist}}</div>-->
            <!--</div>-->
          <!--</div> &lt;!&ndash;end song table&ndash;&gt;-->
        </div>
        <!-- footer -->
        <div class="panel-footer text-right">
          <button class="btn btn-success" ng-click="createList(newList, newDesc)" ng-disabled="!canCreate" disabled="disabled"><i class="glyphicon glyphicon-plus"></i> Create</button>
          <button class="btn btn-danger" ng-click="goSomeWhere('/playlists')"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>