<div class="view" ng-controller="EditListCtrl">
  <ul class="right-nav breadcrumb">
    <li><a href="#!/songs">Home</a></li>
    <li class="active">Playlists</li>
  </ul>
  <div class="content">
    <div class="content-bar">
      <h3>Edit playlist</h3>
    </div>
    <form class="form-horizontal edit-form">
      <div class="panel panel-default">
        <!-- name edit -->
        <div class="panel-body form-group" ng-class="{'has-error': checkValid}">
          <div class="col-sm-4 col-xs-12 form-label">
            <label class="control-label" for="nameLiEdited">*New name:</label>
          </div>
          <div class="col-sm-8 col-xs-12">
            <input class="form-control" type="text" id="nameLiEdited" ng-model="nameLiEdited" ng-change="checkInput(nameLiEdited)">
            <div class="small" ng-class="{'text-danger': checkValid}">{{msgOut}}&nbsp;</div>
          </div>
        </div>
        <!-- Desc edit -->
        <div class="panel-body form-group">
          <div class="col-sm-4 col-xs-12 form-label">
            <label for="descEdited">New description:</label>
          </div>
          <div class="col-sm-8 col-xs-12">
            <input class="form-control" type="text" id="descEdited" ng-model="descEdited">
          </div>
        </div>
        <!--list of songs-->
        <div class="panel-body">
          <p>List of Songs: <span>{{(dataSong | filter:{selected: true }).length}}</span> songs</p>
          <div>
            <a class="btn btn-info pull-left" ng-click="toggle = !toggle">
              <span ng-show="toggle">Collapse the song list</span>
              <span ng-hide="toggle">Expand the song list</span>
            </a>
            <a class="navbar-form search-field pull-right">
              <div class="input-group">
                <input ng-model="searchSong" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!--song table-->
        <div class="panel-body">
          <div my-table var-table="editListCustom" data="dataSong" config="config" search="searchSong" ng-show="toggle"></div>
          <!--<div class="div-table song-table" ng-show="toggle">-->
            <!--<div class="div-tr bg-primary text-uppercase">-->
              <!--<div class="div-th text-center"><input class="test" id="checkboxAll" type="checkbox" ng-model="chkAll.value"-->
                                                     <!--ng-click="checkAll(chkAll.value, dataSong)">-->
              <!--</div>-->
              <!--<div class="div-th text-center">ID</div>-->
              <!--<div class="div-th">Name</div>-->
              <!--<div class="div-th">Artist</div>-->
              <!--&lt;!&ndash;<div class="div-th text-center">Actions</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="div-tr" ng-repeat="item in dataSong | filter: searchSong" ng-class="{'active': item.selected}"-->
                 <!--ng-click="checkItem(item, dataSong, $event,true)">-->
              <!--<div class="div-td text-center"><input class="test" type="checkbox" ng-model="item.selected"-->
                                                     <!--ng-click="checkItem(item, dataSong, $event,false)"> &lt;!&ndash;; checkInput(item.selected)&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="div-td text-center">{{item.id}}</div>-->
              <!--<div id="song1" class="div-td">{{item.name}}</div>-->
              <!--<div id="name1" class="div-td">{{item.artist}}</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <!-- footer -->
        <div class="panel-footer text-right">
          <button class="btn btn-success" ng-click="changeList(nameLiEdited, descEdited); applySongToList()" ng-disabled="!canEdit && !canRevert" disabled="disabled">
            <!--ng-disabled="disApplyBtn || (!canEdit && !canRevert)"-->
            <i class="glyphicon glyphicon-plus"></i> Apply
          </button>
          <button class="btn btn-warning" ng-click="revertList()" ng-disabled="!canRevert" disabled="disabled">
            <i class="glyphicon glyphicon-refresh"></i> Revert
          </button>
          <button class="btn btn-danger" ng-click="goSomeWhere('/playlists')"> <!--onclick="location.href='#!/playlists'"-->
            <i class="glyphicon glyphicon-remove"></i> Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>