<div id="listView" class="view" ng-controller="ListCtrl">
  <ul class="right-nav breadcrumb">
    <li><a href="#!/songs">Home</a></li>
    <li class="active">Playlists</li>
  </ul>
  <div class="content">
    <div class="content-bar">
      <h3>Playlists</h3>
      <div class="action-bar">
        <button ng-click="goSomeWhere('/create-playlist')" class="btn btn-success btn-sm1">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hide-on-small">Add</span>
        </button>
        <button class="btn btn-danger btn-sm1" ng-disabled="disDeleteBtn.value" disabled="disabled"
           ng-click="showModalMulti()">
          <i class="glyphicon glyphicon-trash"></i>
          <span class="hide-on-small">Delete</span>
        </button>
        <div class="search-field">
          <label for="search-list"><i class="icon1 glyphicon glyphicon-search"></i></label>
          <input class="search" placeholder="Search" ng-model="searchList" id="search-list">
        </div>
      </div>
    </div>
    <div class="panel panel-default clearfix">
      <div class="panel-body">
        <!--playlist table-->
        <div my-table var-table="listCustom" data="dataList" config="" search="searchList"></div>
        <!--modal del-->
        <div my-modal config="modalCustom"></div>
        <!--modal multi del-->
        <div my-modal-multi config="modalMultiCustom"></div>
      </div> <!--end panel body-->
    </div> <!--end panel-->
    <!--end div-table-->
  </div> <!--end content-->
</div> <!--end view-->
