/*****************************
GENERAL
*****************************/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

/* header */
header {
  /*position: relative;*/
  border: 1px solid #ddd;
  transition: all 0.5s ease;

}

.logo, .btnDrop {
  float: left;
  font-size: 4em;
  margin: 30px;
  transition: all 0.5s ease;

}

.btnDrop {
  display: none;

}

header h1 {
  margin: 40px auto;
  transition: all 0.5s ease;

}

/* body */
#wrapper {
  transition: all 0.5s ease;
}

.main-content {
  /*min-height: 100vh;*/
  border: 1px solid #ddd;
  padding: 0;
}

/* left */
.left-menu {
  /*border-right: 1px solid #ddd;*/
  height: 100vh;
}
.left-nav {
  margin-top: 10px;
}

/* right */
.right-content {
  border-left: 1px solid #ddd;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.right-nav {
  margin-bottom: 0;
}

.content {
  margin: 0 20px;
}

.content-bar {
  height: 55px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.content-bar h3 {
  margin-top: 0;
  float: left;
  line-height: 55px;
}

.content-bar .action-bar {
  margin-top: 10px;
  float: right;
  position: relative;
  padding-left: 0;
}

/* table */
.song-table {
  font-size: .9em;
  /*height: 50px;*/
  /*overflow-y: auto;*/
}

.div-table {
  display: table;
  width: 100%;
  padding: 0;
  /*white-space: nowrap;*/
  /*margin: 0;*/
}

.div-tr {
  display: table-row;
  width: 100%;
  /*padding: 5px;*/
}

.div-td {
  margin-top: 5px;
  /*display: flex;*/
}

.div-th,
.div-td {
  display: table-cell;
  padding: 5px 8px;
  /*margin-top: 10px;*/
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
}

.div-th .th-child {
  border-bottom: none;
  width: 46%;
  display: inline-block;
}
.div-td .td-child {
  border-bottom: none;
  width: 46%;
  display: inline-block;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* directives css */
.div-table .div-tr:hover,
.div-table .div-tr.active {
  background: #f5f5f5;
}
/*actions*/
.pad-td-action {
  padding: 5px 6px;
}

.test {
  margin-top: 0 !important;
}

/*button*/
.btn-sm2 {
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 3px;
}


footer {
  text-align: center;
  /*margin: 100px auto;*/
  padding: 30px 0;
  border: 1px solid #ddd;
}

/* toggle */
.sidebar-nav {
  padding-top: 15px;
}

/*search */
.action-bar .search-field {
  /*padding-left: 10px;*/
  position: relative;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}

.action-bar .search-field .search {
  min-width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.action-bar .search-field .search:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.search-field .icon1 {
  position: absolute;
  height: 34px;
  padding: 6px 12px;
  right: 0;
  pointer-events: none;
  color: #555;
}


/*======== addSong, List ==========*/

.edit-form .panel-body {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.edit-form .panel-body:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 25px;
}

.edit-form .panel-body input[type=text] {
  padding-left: 10px;
  width: 80%;
}
/*#newSong, #newArtist, #newList, #newDesc {*/
  /*padding-left: 10px;*/
  /*width: 80%;*/
/*}*/

.panel-body .form-label {
  text-align: right;
}


div.div-tr.bg-primary:hover {
  background-color: #337ab7;
}


.custom-modal {
  display: none;
}

.custom-modal.show-modal {
  display: block;
}

.text-bold {
  font-weight: bold;
}







