/*****************************
Clear fix
/******************************/

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

/*****************************
GENERAL
*****************************/

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    max-width: 964px;
    margin: 0 auto;
    padding: 0 5%;
    /*clear: both;*/
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: deepskyblue;
}

img {
    max-width: 100%;
}

/*****************************
HEADING
*****************************/

header {
    /*float: left;*/
    width: 100%;
}
#logo i {
    margin-left: 1.5em;
    vertical-align: top;
}

header h1 {
    margin-left: .5em;
    display: inline-block;
    /*vertical-align: ;*/
}

/*****************************
WRAPPER
*****************************/

/* section */

section {
    float: right;
    width: 75%;
    /*margin: 0 1%;*/

}

.address {
    border: 1px solid #000000;
    padding-left: 2%;
}
.address p {
    display: inline-block;
    /*margin-right: 10px;*/
}

.content {
    /*clear: both;*/
    border: 1px solid #000000;
}

.menu {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.menu h2 {
    margin-left: 2%;
    display: inline-block;
    padding-top: 1%;
}

nav {
    float: right;
    padding: 10px 0;
    font-size: 1.3em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

.songList {
    /*clear: both;*/
    padding-bottom: 1.25em;
}
table {
    width: 96%;
    /*max-width: 100%;*/
    max-height: 200px;
    margin: 0 auto;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    /*border-spacing: 0;*/
    background: #333;
    color: #fff;
    text-align: center;
    /*height: 200px;*/
}

th, td {
    padding: .7rem;
}

td {
    color: #444;
    background: #eee;

}

td:not(:last-child) {
    border-right: 1px solid #ddd;
}

tr:not(:last-child) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*------- end section ---------*/

aside {
    float: left;
    width: 25%;
    /*margin: 0 1%;*/
    border: 1px solid #000000;
    /*padding-bottom: 1.1em;*/
}

aside ul {
    list-style: none;
    /*margin-top: 0;*/
    padding-bottom: 0.3em;

}

.hidden {
    visibility: hidden;
    /*display: none;*/
}

footer {
    padding: 1em 0;
    text-align: center;
    /*clear: both;*/
    width: 100%;
    border: 1px solid #000000;
    /*margin-right: -1%;*/
}

.sidebar-trigger {
    display: none;
}

/*======== media queries ===========*/

@media screen and (max-width: 433px) {
    #menu {
        display: none;
        width: 50%;
        height: 338px;
        z-index: 999;
        position: absolute;
        background: #f1f1f1;
    }
    .sidebar-trigger { display: inline-block; }
    .address {display: none;}
    body {
        text-align: center;
        /*font-size: 0.9em;*/
    }
    header {
        font-size: 0.9em;

    }
    #logo i {
        margin-left: 0.5em;
    }
    section {
        width: 100%;
        font-size: 0.7em;
    }

    .menu {
        /*text-align: left;*/
        font-size: 0.8em;
    }

    .menu h2 {
        padding-top: 0.8em;
    }

    nav {

    }

    .sidebar_trigger {
        display: inline-block;

    }
    #logo {
        text-align: center;
    }

    .push-sidebar{

    }
}