/*=================
MEDIA QUERIES
==================*/

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 1.5em;
    transition: all 0.5s ease;
  }
  .logo {
    font-size: 2.5em;
    margin: 30px 15px;
    transition: all 0.5s ease;
  }
  .btnDrop {
    display: block;
    font-size: 1.5em;
    margin: 40px 0 40px 20px;
    color: #000;
    padding: 0;
  }
   /* toggle */
  #wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 200px;
    padding: 0;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #fff;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 200px;
    border-right: 2px solid #ddd;
  }
  .sidebar-nav {
    position: absolute;
    top: 10px;
    width: 200px;
    margin: 0;
    padding: 0 10px;
    list-style: none;
  }
  /*======= addSong =========*/
  .panel-body .form-label:first-child {
    text-align: left;
  }

  .right-nav {
    display: none;
  }

  /*btn*/
  .btn-sm1 {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }


  .div-table {
    font-size: 0.9em;
  }

} /*end 768px*/

/*list show*/
@media screen and (max-width: 630px) {
  .div-table .div-th {
    display: none;
  }
  .div-td .td-child {
    display: block;
    margin-top: 0;
    width: 100%;
  }
  .div-td .td-child:first-child {
    font-weight: bold;
    padding-bottom: 1px;
  }
  .div-td .td-child:last-child {
    padding-top: 0;
  }
  /*.action-bar .search-field .search {*/
    /*width: 200px;*/
  /*}*/
}  /*end 620px*/

@media screen and (max-width: 539px) {

  .hide-on-small{
    display: none;
  }
  .btn-hide {
    display: none;
  }

  .content-bar {
    text-align: center;
    /*height: 73px;*/

  }

  .content-bar h3 {
    /*float: none;*/
    font-size: 1.3em;
  }


  .div-table {
    font-size: 0.8em;
  }

  .btn-responsive {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .action-bar .search-field .search {
    min-width: 150px;
    font-size: 12px;
  }
  .search-field .icon1 {
    font-size: small;
    padding: 9px 12px;
  }

} /*end 531*/

@media screen and (max-width: 409px) {
  .content-bar h3 {
    display: none;
  }
  .div-table {
    font-size: 0.7em;
  }

  } /*end 409*/


/*test responsive hidden bootstrap*/
